 {{> headerLogin }}

<body>

  <br>
  <br>

  <div class="container ">
    
    <div class="login col-md-4 col-md-offset-4 well ">
      <br>
      <div class="col-md-5 col-md-offset-5" >

      <img src="/images/logo-dj.jpg" style="margin-left:-30px; margin-bottom:30px;" width="100" height="100" alt="">
    </div>
      <div class="form-group text-center">

        <h1 style="text-align: center; font-size:35px;" class="judul "> Virtual Lab Darmajaya
        </h1>
        <hr class="garisLogin">
      </div>
      <div class="col-md-11">
        <form class="daftar text-center" method="post" action="/login">
          <div>
            <div id="ketikEmail" class="form-group {{error}}">
              <div class="input-group ">
                <span class="input-group-addon"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i></span>
                <input class="form-control " name="user_name" placeholder="User name anda" type="text" value="faisalarkan21">
                </span>
              </div>
            </div>
            <div id="ketikPass" class="form-group  {{error}}">
              <div class="input-group">
                <span class="input-group-addon">
             <i class="fa fa-eye-slash fa-lg"></i>
             </span>
                <input class="form-control" name="password" placeholder="Masukan Password" type="password" value="arkan14811">
              </div>

            </div>

            <div style="text-align: center;" id="pesan" class="form-group {{error}}">

              <a class=" btn btn-raised btn-info btn-md" href="/daftar">Daftar</a>
              <button id="login" class="btn btn-raised btn-primary" type="submit">Masuk</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
{{>footer}}
<script>

</script>
